name: Python package

on: [push]

# env:
#   LOGIN: ${{ secrets.DOCKER_LOGIN }}
#   NAME: ${{ secrets.DOCKER_NAME }}
#   PWD: ${{ secrets.DOCKER_PWD }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Test with pytest
        run: |
          python manage.py test --noinput

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_NAME }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Build and push
        uses: deenlog/test-gjango-ci
        with:
          push: true
          tags: user/app:latest