name: Python package

on: [push]

# env:
#   LOGIN: ${{ secrets.DOCKER_LOGIN }}
#   NAME: ${{ secrets.DOCKER_NAME }}
#   PWD: ${{ secrets.DOCKER_PWD }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          pip install -r requirements.txt

      - name: Running tests
        run: |
          . venv/bin/activate
          python3 manage.py test 

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ github.run_id }}

      # - uses: actions/checkout@v3
      # - name: Build image
      #   run: docker build -t ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:${GITHUB_REF:11} -f Dockerfile .

      # - name: Push image to docker.io
      #   run: docker push ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:${GITHUB_REF:11}